# Provide your own values in .env.test to run tests
REGION=
REFRESH_TOKEN=
SELLING_PARTNER_APP_CLIENT_ID=
SELLING_PARTNER_APP_CLIENT_SECRET=
MARKETPLACE_ID=
ASIN=
COUNTRY_CODE=
CURRENCY_CODE=

# The following values are optional
# --> i.e. if the account to test with doesn't sell any products these values can't be provided
# --> Tests relying on these values will be skipped if not provided
SKU=
ORDER_ID=
SELLER_ID=
ASIN2=
SKU2=