registry=https://pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/:username=sunken-stone
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/:_password=[aXFnamVpc2JmejZuZ2Z2Z2llZDNua3Iyem8ycWVyYmR1YjR5bnlyNWxrNDZkbW5ob2UzcQ==]
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/:username=sunken-stone
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/:_password=[aXFnamVpc2JmejZuZ2Z2Z2llZDNua3Iyem8ycWVyYmR1YjR5bnlyNWxrNDZkbW5ob2UzcQ==]
//pkgs.dev.azure.com/sunken-stone/Stonehenge/_packaging/sunken-stone-npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token